@use "colors";
// Color Scheme:
// #F08700 Tangerine (white text)
// #F49F0A Orange Web
// #EFCA08 Yellow Munsell
// #2A324B Space Cadet (dark text)
// #E2FCEF Honeydew (light text)

main .row {
    height: 100vh;
}

.my-sidebar {
    background-color: colors.$tangerine;
    color: colors.$honeydew;

    .lists {
        border-bottom: 2px solid colors.$honeydew;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    #todoLists {
        font-size: 20px;
        border: 1px solid colors.$space-cadet;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #todoListRemove {
            visibility: hidden;
        }

        &:hover {
            box-shadow: 0px 0px 5px black;

            #todoListRemove {
                visibility: visible;
            }
        }
    }
}

.my-page {
    background-color: colors.$orange-web;
    color: colors.$space-cadet;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 40px;
            color: colors.$honeydew;
        }
    
        .current-date {
            font-size: 30px;
        }
    }

    #listWindow {
        height: 500px;
        border: 2px solid colors.$space-cadet;
        overflow-y: scroll;
    }
}