@use "colors";
// Color Scheme:
// #F08700 Tangerine (white text)
// #F49F0A Orange Web
// #EFCA08 Yellow Munsell
// #2A324B Space Cadet (dark text)
// #E2FCEF Honeydew (light text)

main .row {
    height: 100vh;
}

.my-sidebar {
    background-color: colors.$tangerine;
    color: colors.$honeydew;

    .lists {
        border-bottom: 2px solid colors.$honeydew;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    input {
        background-color: colors.$orange-web;
        border: 0;
        border-right: 2px solid colors.$honeydew;
        padding: 10px;
    }

    .input-box button {
        background-color: colors.$orange-web;
        border: 0;

        &:hover {
            background-color: colors.$space-cadet;
            color: colors.$honeydew;
            border: 0;
        }
    }

    #todoLists {
        display: flex;
        flex-direction: column;

        .list {
            font-size: 20px;
            border: 1px solid colors.$space-cadet;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                box-shadow: 0px 0px 5px black;
    
                #todoListRemove {
                    visibility: visible;
                }
            }
        }

        #todoListRemove {
            visibility: hidden;
        }
    }
}

.my-page {
    background-color: colors.$orange-web;
    color: colors.$space-cadet;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 40px;
            color: colors.$honeydew;
        }
    
        .current-date {
            font-size: 30px;
        }
    }

    .to-do-list {
        height: 500px;

        #listWindow {
            height: 100%;
            border: 2px solid colors.$space-cadet;
            overflow-y: scroll;
            padding: 20px;

            input {
                background-color: colors.$tangerine;
                border: 0;
                border-right: 2px solid colors.$honeydew;
                padding: 10px;
                color: colors.$honeydew;
            }

            .input-box button {
                background-color: colors.$tangerine;
                border: 0;

                &:hover {
                    background-color: colors.$space-cadet;
                    color: colors.$honeydew;
                    border: 0;
                }
            }

            #todoItems {
                display: flex;
                flex-direction: column;
        
                .list-item {
                    font-size: 20px;
                    border: 1px solid colors.$space-cadet;
                    padding: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 500px;

                    .check-and-x {
                        display: flex;
                    }
        
                    &:hover {
                        box-shadow: 0px 0px 5px black;
            
                        #todoItemRemove {
                            visibility: visible;
                        }
                    }
                }
        
                #todoItemRemove {
                    visibility: hidden;
                }
            }
        }

        .remove-completed {
            display: flex;
            justify-content: center;

            button {
                background-color: colors.$tangerine;
                color: colors.$honeydew;
                border: 2px solid colors.$space-cadet;
                border-top: 0;
                width: 100%;
                height: 50px;

                &:hover {
                    background-color: colors.$space-cadet;
                    border: 0;
                }
            }
        }
    }
}

.input-box {
    border: 2px solid colors.$honeydew;
    width: 100%;
    display: flex;

    input {
        flex-grow: 3;
    }
}